# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
splitz_ec2.pem

### Python template

.idea/
.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
.pyc
*.py[cod]
*.so
*.log
*.*.py[cod]
*.cpython-311.pyc
PERSONAL_README.md